Traitement des données pour vérifier s'il en manque

In [2]:
!pip install housing

Collecting housing
  Downloading housing-0.3-py3-none-any.whl.metadata (1.3 kB)
Downloading housing-0.3-py3-none-any.whl (7.5 kB)
Installing collected packages: housing
Successfully installed housing-0.3

Importation des librairies

In [15]:
import housing
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import tarfile
import os
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt

Extraction du/des fichiers

In [18]:
file_path_general = 'general_data.csv'
file_path_employee ='employee_survey_data.csv'
file_path_manager = 'manager_survey_data.csv'
file_path_in = 'in_time.csv'
file_path_out = 'out_time.csv'



directory= "/content/Data/"

# Load the dataset
general_data = pd.read_csv(directory + file_path_general)
employee_data = pd.read_csv(directory + file_path_employee)
manager_data = pd.read_csv(directory + file_path_manager)
in_time_data = pd.read_csv(directory + file_path_in)
out_time_data = pd.read_csv(directory + file_path_out)

print(general_data)


#general_data.info()

#general_data.describe()

#general_data.head()

      Age Attrition     BusinessTravel              Department  \
0      51        No      Travel_Rarely                   Sales
1      31       Yes  Travel_Frequently  Research & Development
2      32        No  Travel_Frequently  Research & Development
3      38        No         Non-Travel  Research & Development
4      32        No      Travel_Rarely  Research & Development
...   ...       ...                ...                     ...
4405   42        No      Travel_Rarely  Research & Development
4406   29        No      Travel_Rarely  Research & Development
4407   25        No      Travel_Rarely  Research & Development
4408   42        No      Travel_Rarely                   Sales
4409   40        No      Travel_Rarely  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  EmployeeID  \
0                    6          2  Life Sciences              1           1
1                   10          1  Life Sciences              1           2
2                   17          4          Other              1           3
3                    2          5  Life Sciences              1           4
4                   10          1        Medical              1           5
...                ...        ...            ...            ...         ...
4405                 5          4        Medical              1        4406
4406                 2          4        Medical              1        4407
4407                25          2  Life Sciences              1        4408
4408                18          2        Medical              1        4409
4409                28          3        Medical              1        4410

      Gender  ...  NumCompaniesWorked Over18 PercentSalaryHike  StandardHours  \
0     Female  ...                 1.0      Y                11              8
1     Female  ...                 0.0      Y                23              8
2       Male  ...                 1.0      Y                15              8
3       Male  ...                 3.0      Y                11              8
4       Male  ...                 4.0      Y                12              8
...      ...  ...                 ...    ...               ...            ...
4405  Female  ...                 3.0      Y                17              8
4406    Male  ...                 2.0      Y                15              8
4407    Male  ...                 0.0      Y                20              8
4408    Male  ...                 0.0      Y                14              8
4409    Male  ...                 0.0      Y                12              8

      StockOptionLevel TotalWorkingYears  TrainingTimesLastYear  \
0                    0               1.0                      6
1                    1               6.0                      3
2                    3               5.0                      2
3                    3              13.0                      5
4                    2               9.0                      2
...                ...               ...                    ...
4405                 1              10.0                      5
4406                 0              10.0                      2
4407                 0               5.0                      4
4408                 1              10.0                      2
4409                 0               NaN                      6

      YearsAtCompany  YearsSinceLastPromotion  YearsWithCurrManager
0                  1                        0                     0
1                  5                        1                     4
2                  5                        0                     3
3                  8                        7                     5
4                  6                        0                     4
...              ...                      ...                   ...
4405               3                        0                     2
4406               3                        0                     2
4407               4                        1                     2
4408               9                        7                     8
4409              21                        3                     9

[4410 rows x 24 columns]

In [19]:
general_data["BusinessTravel"].value_counts()

BusinessTravel
Travel_Rarely        3129
Travel_Frequently     831
Non-Travel            450
Name: count, dtype: int64

In [21]:

null_value = general_data.isnull().sum()
#+ manager_data.isnull().sum() + employee_data.isnull().sum() + in_time_data.isnull().sum() + out_time_data.isnull().sum()
print(null_value)

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64